In [1]:
import pandas as pd
df = pd.read_csv('Customers.csv', encoding = 'unicode escape')
df

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,7/3/1939
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979
2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,5/26/1947
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,9/17/1957
4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,VIC,Victoria,3698,Australia,Australia,11/19/1965
...,...,...,...,...,...,...,...,...,...,...
15261,2099600,Female,Denisa Duková,Houston,TX,Texas,77017,United States,North America,3/25/1936
15262,2099618,Male,Justin Solórzano,Mclean,VA,Virginia,22101,United States,North America,2/16/1992
15263,2099758,Male,Svend Petrussen,Wilmington,NC,North Carolina,28405,United States,North America,11/9/1937
15264,2099862,Female,Lorenza Rush,Riverside,CA,California,92501,United States,North America,10/12/1937
15265,2099937,Male,Zygmunt Kaminski,Bloomfield Township,MI,Michigan,48302,United States,North America,8/18/1965

In [2]:
df['Birthday'] = pd.to_datetime(df['Birthday'])
df['City'] = df['City'].str.title()
df = df.drop('State Code',axis = 1)
df

,CustomerKey,Gender,Name,City,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,Wandearah East,South Australia,5523,Australia,Australia,1939-07-03
1,325,Female,Madison Hull,Mount Budd,Western Australia,6522,Australia,Australia,1979-09-27
2,554,Female,Claire Ferres,Winjallok,Victoria,3380,Australia,Australia,1947-05-26
3,786,Male,Jai Poltpalingada,Middle River,South Australia,5223,Australia,Australia,1957-09-17
4,1042,Male,Aidan Pankhurst,Tawonga South,Victoria,3698,Australia,Australia,1965-11-19
...,...,...,...,...,...,...,...,...,...
15261,2099600,Female,Denisa Duková,Houston,Texas,77017,United States,North America,1936-03-25
15262,2099618,Male,Justin Solórzano,Mclean,Virginia,22101,United States,North America,1992-02-16
15263,2099758,Male,Svend Petrussen,Wilmington,North Carolina,28405,United States,North America,1937-11-09
15264,2099862,Female,Lorenza Rush,Riverside,California,92501,United States,North America,1937-10-12
15265,2099937,Male,Zygmunt Kaminski,Bloomfield Township,Michigan,48302,United States,North America,1965-08-18